<template>
  <v-layout column>
    <v-layout row v-if="userDetail">
      <v-card class="userCard mr-1">
        <p class="mb-3 title font-weight-medium">Подаци корисника</p>
        <v-layout row>
          <p>Име корисника: {{userDetail.name}}</p>
        </v-layout>
        <v-layout row>
          <p>Презиме корисника: {{userDetail.surname}}</p>
        </v-layout>
        <v-layout row>
          <p>Е-пошта корисника: {{userDetail.email}}</p>
        </v-layout>
        <v-layout row>
          <p>Стање на вашем рачуну: {{userDetail.bilans}}</p>
        </v-layout>
      </v-card>
      <v-card class="userCard ml-1">
        <p class="mb-3 title font-weight-medium">Акције</p>
        <v-radio-group v-model="radios" :mandatory="false">
          <v-radio label="Уплата на налог" value="uplata"></v-radio>
          <v-radio label="Исплата са налога" value="isplata"></v-radio>
        </v-radio-group>
        <v-text-field v-model.number="novac" v-on:keypress="isNumber(event)"></v-text-field>
        <v-btn dark color="#880c0c" @click="bilans">{{radios == 'uplata' ? 'Уплата' : 'Исплата'}}</v-btn>
        <v-alert
          v-if="obavestenje != null"
          :value="true"
          :color="tip"
          :icon="notIcon"
          outline
        >{{obavestenje}}</v-alert>
      </v-card>
    </v-layout>
  </v-layout>
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'
import { Promise } from 'q'
export default {
  data() {
    return {
      radios: 'uplata',
      novac: 1,
      obavestenje: null,
      tip: '',
      notIcon: 'check_circle'
    }
  },
  computed: {
    ...mapGetters('auth', {
      isAuth: 'isAuth'
    }),
    ...mapState('auth', {
      userDetail: 'userDetail'
    })
  },
  methods: {
    ...mapActions('operacije', {
      promenaStanja: 'promenaStanja'
    }),
    bilans() {
      let suma
      if (this.radios == 'uplata') {
        suma = this.userDetail.bilans + this.novac
      } else {
        suma = this.userDetail.bilans - this.novac
      }
      if (this.novac < 1) {
        this.obavestenje = 'Не можете уплатити или исплатити мање од 1'
        this.tip = 'error'
        this.notIcon = 'warning'
      } else {
        if (
          (this.novac > this.userDetail.bilans) &
          (this.radios == 'isplata')
        ) {
          this.obavestenje = 'Немате довољно средстава'
          this.tip = 'error'
          this.notIcon = 'warning'
        } else {
          let data = {
            id: this.userDetail._id,
            bilans: suma
          }
          Promise.resolve(this.promenaStanja(data)).then(
            setTimeout(() => {
              if (this.radios == 'uplata') {
                this.obavestenje = 'Средства су успешно уплаћена'
                this.tip = 'success'
                this.notIcon = 'check_circle'
              } else {
                this.obavestenje = 'Средства су успешно исплаћена'
                this.tip = 'success'
                this.notIcon = 'check_circle'
              }
              this.novac = 1
            }, 200)
          )
        }
      }
    },
    isNumber(evt) {
      evt = evt ? evt : window.event
      var charCode = evt.which ? evt.which : evt.keyCode
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault()
      } else {
        return true
      }
    }
  }
}
</script>
