#page {
  padding-bottom: 60px;
}

$input-height: 30px;
$input-border-radius: 8px;
$main-clor: #880c0c;
$tablet-width: 650px;
$desktop-width: 1024px;

.loginLabel {
  color: rgb(43, 43, 43);
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: $main-clor;
  font-weight: bold;
  &:hover {
    color: darken($main-clor, 15%);
  }
}

.v-text-field {
  position: relative;
  margin-top: 0;

  .v-input__control,
  .v-input__slot,
  .v-text-field__slot,
  .v-menu,
  .v-menu__activator {
    position: unset;
  }

  .v-input__append-outer,
  .v-input__prepend-outer {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .v-input__append-inner,
  .v-input__prepend-inner {
    align-self: center;
    margin: 0;
    padding: 0;
  }
  .v-input__prepend-inner {
    margin-right: 8px;
  }
  .v-input__append-inner {
    margin-left: 8px;
  }

  .v-input__slot {
    height: $input-height;
    padding: 4px 8px;
    border: 1px solid #bccaca;
    border-radius: $input-border-radius;
    transition: border-color 0.2s ease-in-out;

    &:before {
      display: none;
    }
    &:after {
      display: none;
    }

    input {
      padding: 0;
    }

    label {
      transform: translateY(-32px);
      font-size: 18px;
      transition: color 0.2s ease-in-out;
    }
  }

  &.v-input--is-disabled {
    .v-input__slot {
      background-color: #eeeeee;
    }
  }

  &.v-input--has-state.error--text:not(.v-input--is-focused) {
    .v-input__slot {
      border-color: #ff5252;
    }
  }

  &.v-input--is-focused {
    .v-input__slot {
      border-color: $main-clor;
    }

    &:not(.v-input--has-state):not(.error--text) {
      .v-label {
        color: $main-clor !important;
      }

      .v-input__append-inner i,
      .v-input__append-outer i,
      .v-input__prepend-inner i,
      .v-input__prepend-outer i {
        color: $main-clor !important;
        transition: color 0.15s ease-in-out;
      }
    }
  }

  .v-progress-linear {
    top: calc(#{$input-height} + 2px);
    left: #{$input-border-radius};
    width: calc(100% - #{$input-border-radius} * 2);
    border-radius: 2px;
  }
}

.menu__content--select {
  border-radius: 8px;
}

.postTitle {
  color: #3f3f3f;
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
  }
}

@mixin desktop {
  @media (max-width: #{$tablet-width}) {
  }
}

.shortContent {
  background-color: $main-clor;
  color: white;
  font-weight: 1000;
  border-radius: 10px;
  font-size: 17px;
}

.tui-editor-contents {
  font-size: 15px !important;
  font-weight: 500 !important;
  margin: 0;
  padding: 0;
}
