<template>
  <v-footer dark height="auto" style="width: 100%;">
    <v-card
      style="width: 100%;"
      flat
      tile
      color="#660d0d"
      class="lighten-1 white--text text-xs-center pa-3"
    >
      <!-- <v-card-text>
        <v-btn v-for="icon in icons" :key="icon" class="mx-3 white--text" icon>
          <v-icon size="24px">{{ icon }}</v-icon>
        </v-btn>
      </v-card-text>-->
      <v-card-text>
        <v-layout align-center justify-center row style="width: 100%;">
          <v-layout row align-start justify-start style="maxWidth: 1140px;">
            <img :src="'/ne.png'" alt style="width: 30%;">
          </v-layout>
        </v-layout>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="white--text">
        &copy;2019 —
        <strong>Игра на срећу</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    icons: [
      'eject',
      'fab fa-twitter',
      'fab fa-google-plus',
      'fab fa-linkedin',
      'fab fa-instagram'
    ]
  })
}
</script>