<template>
  <v-layout column>
    <v-layout justify-space-between align-center class="brzaObavestenja mb-1" v-if="userDetail">
      Средства на вашем рачуну: {{userDetail.bilans}}
      <v-btn outline color="white" @click="$router.push('/admin')">Администрација</v-btn>
    </v-layout>
    <div v-if="userDetail" class="mb-3">
      <div v-if="userDetail.bilans == 0">
        <v-layout row align-center>
          <p
            class="mr-3 ma-o"
            v-if="userDetail"
          >{{ 'Немате средстава на вашем рачуну, уколико желите да покренете извлачење или додате тикет, уплатите средства на ваш рачун'}}</p>
          <v-btn dark small color="#880c0c" @click="dialog = true">Уплатите</v-btn>
        </v-layout>
      </div>
    </div>

    <v-dialog v-model="dialog" width="500px">
      <v-card class="pa-3">
        <v-layout column>
          <v-layout row justify-center align-center>
            <p class="ma-0 mr-3">Уплата на рачун</p>
            <v-text-field v-model.number="uplataRacun" v-on:keypress="isNumber(event)"></v-text-field>
          </v-layout>

          <v-btn dark color="#880c0c" @click="uplataNaRacun">Уплати</v-btn>
          <p>{{obavestenjeUplata}}</p>
        </v-layout>
      </v-card>
    </v-dialog>

    <v-layout row class="glavnoPolje">
      <v-layout column class="kolona pr-3">
        <v-card class="pa-2 mb-3">
          <div class="naslov pa-2">
            <p>Извучени бројеви</p>
          </div>
          <v-layout
            v-for="(i, index) in Math.ceil(brojevi.length / 5)"
            :key="index"
            justify-start
            align-center
            row
            class="pa-2"
          >
            <v-layout
              justify-center
              align-center
              :style="'maxWidth: 20%; minWidth: 20%;'"
              v-for="(item, n) in brojevi.slice((i - 1) * 5, i * 5)"
              :key="n"
            >
              <v-layout justify-center align-center class="loptica neaktivna">
                <v-progress-circular
                  :size="70"
                  :width="7"
                  color="#ffbb00"
                  indeterminate
                  v-if="(n + 5*index) == trenutnoUcitava"
                ></v-progress-circular>
                <span
                  class="neaktivnaBroj"
                >{{trenutnoUcitava >(n + 5*index) ? izvuceniBrojevi[n + 5*index] : null}}</span>
              </v-layout>
            </v-layout>
          </v-layout>
        </v-card>
        <v-card class="pa-2 mb-3">
          <div class="naslov pa-2">
            <p>Моји тикети</p>
          </div>
          <v-layout column>
            <v-layout
              column
              v-for="(n, index) in tiketi"
              :key="index"
              :class="proveraDobitka(tiketi[index], index) == true ? 'dobitanTiket' : ''"
            >
              <v-layout justify-start row class="pa-2">
                <v-layout
                  :style="'maxWidth: 16%;'"
                  :width="100/n.length + '%'"
                  v-for="(ball, i) in n"
                  :key="i"
                >
                  <v-layout
                    justify-center
                    align-center
                    :class=" pogodjenBroj(tiketi[index][i]) == true ? 'loptica pogodjen' : 'loptica neaktivna'"
                  >
                    <span class="neaktivnaBroj ma-2">{{ball}}</span>
                  </v-layout>
                </v-layout>
                <v-layout row justify-end align-center>
                  <v-btn
                    v-if="izvuceniBrojevi.length == 0"
                    icon
                    flat
                    color="#880c0c"
                    @click="promenaTiketa(index, true)"
                  >
                    <v-icon>create</v-icon>
                  </v-btn>
                  <v-btn
                    v-if="izvuceniBrojevi.length == 0"
                    icon
                    flat
                    color="#880c0c"
                    @click="promenaTiketa(index)"
                  >
                    <v-icon>delete</v-icon>
                  </v-btn>
                </v-layout>
                <p v-if="proveraDobitka(tiketi[index], index) == true">Добитак је: {{dobici[index]}}</p>
              </v-layout>
              <v-divider></v-divider>
            </v-layout>
          </v-layout>
        </v-card>
      </v-layout>
      <v-layout column class="kolona pl-3">
        <v-card class="pa-2 mb-3">
          <v-layout justify-space-between row v-for="(n, index) in 5" :key="index">
            <v-layout
              justify-center
              align-center
              class="prostorZaLopticu"
              v-for="(ball, i) in 6"
              :key="i"
            >
              <v-layout
                :class="aktivna == (i + 1 + index*6) ? 'aktivna' : (odabrana(i + 1 + index*6) ? 'odabrana' : 'neaktivna ma-3')"
                justify-center
                align-center
                class="loptica"
                @mouseover="aktivna = (i + 1 + index*6)"
                @mouseleave="aktivna = 0"
                @click="dodaj((i + 1 + index*6))"
              >
                <span
                  :class="(aktivna == (i + 1 + index*6) ? 'aktivnaBroj' : 'neaktivnaBroj ma-2')"
                >{{i + 1 + index*6}}</span>
              </v-layout>
            </v-layout>
          </v-layout>
        </v-card>
        <v-card class="pa-3">
          <v-layout column>
            <v-layout row justify-center align-center v-if="tiketi.length != 5">
              <p class="ma-0 mr-3">Уплата</p>
              <v-text-field v-model.number="uplate[tiketi.length]" v-on:keypress="isNumber(event)"></v-text-field>
            </v-layout>
            <p
              v-if="userDetail"
              v-text="tiketi.length != 5 ? (uplate.reduce((a, b) => a + b, 0) > userDetail.bilans ? 'Немате довољно средстава' :  'Преостала средства за игру ' + (userDetail.bilans - uplate.reduce((a, b) => a + b, 0))) : ''"
            ></p>
            <v-btn
              dark
              color="#880c0c"
              @click="start"
            >{{odigranaIgra == false ? (tiketi.length == 5 ? 'Одиграј' : 'Додај тикет') : 'Одиграј поново ' + timer}}</v-btn>
            <p>{{obavestenje}}</p>
          </v-layout>
        </v-card>
      </v-layout>
    </v-layout>
  </v-layout>
</template>

<script>
import axios from 'axios'
import { mapState, mapActions } from 'vuex'
import { Promise } from 'q'

export default {
  data() {
    return {
      dialog: false,
      uplataRacun: 0,
      obavestenjeUplata: '',
      odigranaIgra: false,
      validacija: true,
      timer: 5,
      aktivna: 0,
      trenutniTiket: [],
      obavestenje: '',
      tiketi: [],
      izvuceniBrojevi: [],
      interval: {},
      interval2: {},
      odbrojavanje: false,
      loading: [
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false
      ],
      brojevi: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dobici: [0, 0, 0, 0, 0],
      uplate: [1, 1, 1, 1, 1],
      trenutnoUcitava: null
    }
  },
  computed: {},
  methods: {
    ...mapActions('operacije', {
      promenaStanja: 'promenaStanja'
    }),
    reset() {
      if (this.odigranaIgra == true) {
        Object.assign(this.$data, this.$options.data.call(this))
      }
    },
    dodaj(broj) {
      if (this.tiketi.length != 5) {
        const result = this.trenutniTiket.find(br => br === broj)

        if (result) {
          for (let i = 0; i < this.trenutniTiket.length; i++) {
            if (this.trenutniTiket[i] == broj) {
              this.trenutniTiket.splice(i, 1)
            }
          }
        } else {
          if (this.trenutniTiket.length < 5) {
            this.trenutniTiket.push(broj)
          }
        }
      }
    },
    odabrana(input) {
      const result = this.trenutniTiket.find(broj => broj === input)

      if (result) {
        return true
      } else {
        return false
      }
    },
    proveraTiketa() {
      if (this.tiketi.length > 0) {
        let rezultati = []
        for (let i = 0; i < this.tiketi.length; i++) {
          rezultati.push(
            this.uporedi(this.tiketi[i].sort(), this.trenutniTiket.sort())
          )
        }

        const result = rezultati.find(br => br === true)
        if (result == true) {
          return true
        } else {
          return false
        }
      }
    },
    uporedi(arr1, arr2) {
      let a = arr1.sort()
      let b = arr2.sort()
      if (a.length != b.length) return false
      else {
        for (var i = 0; i < a.length; i++) if (a[i] != b[i]) return false
        return true
      }
    },
    izvlacenje() {
      while (this.izvuceniBrojevi.length < 13) {
        var r = Math.floor(Math.random() * 30) + 1
        if (this.izvuceniBrojevi.indexOf(r) === -1) this.izvuceniBrojevi.push(r)
      }
    },
    start() {
      if (this.odigranaIgra == false) {
        if (
          (this.tiketi.length == 5) &
          (this.validacija == true) &
          (this.tiketi.length == 5)
        ) {
          this.izvlacenje()
          setTimeout(() => {
            this.ucitavanje()
          }, 200)
        } else {
          if ((this.trenutniTiket.length > 0) & (this.validacija == true)) {
            const poklapanje = this.proveraTiketa()

            if (poklapanje == true) {
              this.obavestenje =
                'Овакав тикет сте већ одиграли, потребно је да одиграте 5 различитих тикета'
            } else {
              this.tiketi.push(this.trenutniTiket)
              this.trenutniTiket = []
              this.obavestenje = ''
            }
          } else {
            this.obavestenje =
              this.validacija == false
                ? 'Немате довољно средстава за игру'
                : 'Нисте додали број, морате да додате од 1 до 5 бројева на тикет'
          }
        }
      } else {
        this.odigranaIgra = true
        clearInterval(this.interval2)
        this.interval2 = null
        this.reset()
      }
    },
    ucitavanje(broj) {
      this.interval = setInterval(() => {
        if (this.trenutnoUcitava < 12) {
          if (this.trenutnoUcitava == null) {
            this.trenutnoUcitava = 0
            setTimeout(() => {
              this.brojevi[this.trenutnoUcitava] = this.izvuceniBrojevi[
                this.trenutnoUcitava
              ]
            }, 2000)
          } else {
            this.brojevi[this.trenutnoUcitava] = this.izvuceniBrojevi[
              this.trenutnoUcitava
            ]
            this.trenutnoUcitava += 1
          }
        } else {
          clearInterval(this.interval)
          this.interval = null
        }
      }, 2000)
    },
    timerSet() {
      if (this.odbrojavanje == true) {
        this.interval2 = setInterval(() => {
          if (this.timer > 0) {
            this.timer = this.timer - 1
          } else {
            clearInterval(this.interval2)
            this.interval2 = null
            this.reset()
          }
        }, 1000)
      }
    },
    pogodjenBroj(broj) {
      let odgovor = false
      for (let i = 0; i < this.brojevi.length; i++) {
        if (broj == this.brojevi[i]) {
          odgovor = true
        }
      }
      return odgovor
    },
    proveraDobitka(tiket, index) {
      let dobitak = true
      for (let i = 0; i < tiket.length; i++) {
        if (this.pogodjenBroj(tiket[i]) == false) {
          dobitak = false
        }
      }
      if (dobitak == true) {
        this.dobici[index] = tiket.length * 2 * this.uplate[index]
      }
      return dobitak
    },
    isNumber(evt) {
      evt = evt ? evt : window.event
      var charCode = evt.which ? evt.which : evt.keyCode
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault()
      } else {
        return true
      }
    },
    uplataNaRacun() {
      if (this.uplataRacun < 1) {
        this.obavestenjeUplata = 'Минимални износ за уплату је 1'
      } else {
        let data = { id: this.userDetail._id, bilans: this.uplataRacun }
        this.promenaStanja(data)
        this.obavestenjeUplata = ''
      }
    },
    promenaTiketa(index, edit) {
      if (edit == true) {
        let editUplata
        editUplata = this.uplate[index]
        this.trenutniTiket = this.tiketi[index]
        this.tiketi.splice(index, 1)
        this.uplate.splice(index, 1)
        this.uplate.push(editUplata)
      } else {
        this.tiketi.splice(index, 1)
        this.uplate.splice(index, 1)
        this.uplate.push(1)
      }
    }
  },
  computed: {
    ...mapState('auth', {
      baseUrl: 'baseUrl'
    }),
    ...mapState('auth', {
      userDetail: 'userDetail'
    })
  },
  watch: {
    uplate: function(noveUplate, stareUplate) {
      if (
        noveUplate.reduce((a, b) => a + b, 0) == 0 ||
        noveUplate.reduce((a, b) => a + b, 0) > this.userDetail.bilans
      ) {
        this.validacija = false
      } else {
        this.validacija = true
      }
    },
    trenutnoUcitava: function(novi, stari) {
      if (novi == 12) {
        let noviBilans =
          this.userDetail.bilans -
          this.uplate.reduce((a, b) => a + b, 0) +
          this.dobici.reduce((a, b) => a + b, 0)
        let data = { id: this.userDetail._id, bilans: noviBilans }
        this.promenaStanja(data)
        this.odigranaIgra = true
        this.odbrojavanje = true
        this.timerSet()
      }
    }
  }
}
</script>

