<template>
  <v-layout column align-center>
    <v-card class="pa-3 loginCard" v-if="mod == 'login'">
      <p class="loginLabel">Електронска пошта</p>
      <v-text-field v-model="email"></v-text-field>
      <p>Лозинка</p>
      <v-text-field
        single-line
        required
        @click:append="togglePassword"
        v-model="password"
        :append-icon="isPasswordShown ? 'visibility' : 'visibility_off'"
        :type="isPasswordShown ? 'text' : 'password'"
        v-on:keyup.enter="onLogin"
      ></v-text-field>
      <v-btn @click="onLogin" dark color="#880c0c">Пријавите се</v-btn>
      <p class="mt-3">
        Немате налог?
        <span class="link" @click="mod = 'signin'">Региструјте се</span>
      </p>
    </v-card>
    <v-card class="pa-3 loginCard" v-else>
      <p>Име</p>
      <v-text-field v-model="name"></v-text-field>
      <p>Презиме</p>
      <v-text-field v-model="surname"></v-text-field>
      <p>Електронска пошта</p>
      <v-text-field v-model="email"></v-text-field>
      <p>Лозинка</p>
      <v-text-field
        single-line
        required
        @click:append="togglePassword"
        v-model="password"
        :append-icon="isPasswordShown ? 'visibility' : 'visibility_off'"
        :type="isPasswordShown ? 'text' : 'password'"
        v-on:keyup.enter="reg"
      ></v-text-field>
      <v-btn @click="reg" dark color="#880c0c">Региструјте се</v-btn>
      <p class="mt-3">
        Већ имате налог?
        <span class="link" @click="mod = 'login'">Пријавите се</span>
      </p>
    </v-card>
  </v-layout>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import axios from 'axios'
import { Promise } from 'q'

export default {
  data() {
    return {
      isPasswordShown: false,
      name: '',
      surname: '',
      email: '',
      password: '',
      mod: 'login'
    }
  },
  computed: {
    ...mapState('auth', {
      userInfo: 'userInfo'
    })
  },
  methods: {
    ...mapActions('auth', {
      loadUserInfo: 'loadUserInfo'
    }),
    ...mapActions('auth', {
      login: 'login'
    }),
    togglePassword() {
      this.isPasswordShown = !this.isPasswordShown
    },
    onLogin() {
      let config = {
        headers: { 'Content-Type': 'application/json' }
      }

      let data = JSON.stringify({
        email: this.email,
        password: this.password
      })

      this.login(data)

      Promise.resolve(this.loadUserInfo()).then(
        setTimeout(() => {
          this.$router.push('/')
        }, 1000)
      )
    },
    ...mapActions('auth', {
      register: 'register'
    }),
    reg() {
      if (
        (this.name.length > 1) &
        (this.surname.length > 1) &
        (this.email.length > 1) &
        (this.password.length > 1)
      ) {
        let data = {
          name: this.name,
          surname: this.surname,
          email: this.email,
          password: this.password
        }
        Promise.resolve(this.register(data))
          .then(
            setTimeout(() => {
              
            }, 200)
          )
          .catch(err => {
            this.name = ''
            this.surname = ''
            this.email = ''
            this.password = ''
            alert('Корисник није креиран, унели сте лоше податке') //Uslov validacija koje nema
            console.log(err)
          })
      } else {
        alert('Погрешно унети подаци')
      }
    }
  }
}
</script>

